$SIDEMENU_TOP: #387EF5;
$SIDEMENU_BOTTOM: #ff9068;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

.side-menu-item {
	background: none;
	color: white;
	font-weight: 100;
	border: 0px;
	.item-content {
		background: none;
		&.activated {
			background: $SIDEMENU_TRANSPARENCY;
		}
		
	}
	&.active-page-highlight {
		.item-content {
			background: $SIDEMENU_TRANSPARENCY;
		}
		
	}
}

.side-menu-gradient {
	background: -webkit-linear-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.profile-image {
	img {
		display: block;
		width: 25%;
		border-radius: 25%;
		margin: 2px;
		border: 2px solid $SIDEMENU_TRANSPARENCY;
		-webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
	}
}

.title.title-md {
    position: absolute;
    left: 60%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

