page-singleprod {

	ion-content {
		  background-image: linear-gradient(-225deg, rgba(44, 216, 213, 0.45) 0%, #C5C1FF 56%, rgba(255, 186, 195, 0.71) 100%);

			background-repeat: no-repeat;
			background-attachment: fixed;
	} 

}
